# Dependencies
node_modules/

# Reports
reports/allure-results/
reports/allure-report/
reports/screenshots/

# Logs
logs/
*.log

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.idea/
*.swp
*.swo
*~

# Build
dist/
build/
